<p id="fail-sending" style="display:none; color: red;">
    The message was not sent! Please try again later!</p>
<h3>
    Do you wish to send the following message to 
    <span id="message-recipient"></span>?
</h3>

<div id="message-to-send" class="message-to-send">
    Go to <span id="service-station-data">
        Service Station, located at Aalborg. GPS: lon lat
    </span><br>
    Truck information - 
    Brand:<span id="truck-brand"></span>,
    model:<span id="truck-model"></span>,
    engine:<span id="truck-engine"></span>,
    tires:<span id="truck-tires"></span>.
</span>
</div>

<div class="control-links">
    <a href="javascript:void(0);" id="no-send-link">No</a>
    <a href="javascript:void(0);" id="yes-send-link">Yes</a>
    <div class="clear"></div>
</div>
