<!-- dashboard-header -->
<div class="dashboard-header">
    <a href=""><h1>Smooth Transport</h1></a>

    <!-- dashboard-navigation -->
    <div class="dashboard-navigation">
        <ul>
            <li>
                <a id="new-link" href="#">
                    New<span id="unseen-counter" class="unseen-counter">(0)</span>
                </a>
            </li>
            <li>
                <a id="received-link" href="#">Received</a>
            </li>
            <li>
                <a id="sent-link" href="#">Sent</a>
            </li>
            <li>
                <a id="logout-link" href="javascript:void(0);" 
                   style="border-right: solid 1px #ddd">Log Out</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!-- /dashboard-navigation -->
    <div class="clear"></div>
</div>
<!-- /dashboard-header -->

<!-- hello-wrapper -->
<div class="hello-wrapper">    
    Hello, <span id="hello-name">someone</span>!
</div>
<!-- /hello-wrapper -->


<!-- dashboard-wrapper -->
<div id="dashboard-contents" class="dashboard-contents">
    
</div>
<!-- /dashboard-wrapper -->