<div id="driver-truck-data" class="driver-truck-data">
    <ul>
        <li>
            <span id="truck-driver-names"></span> <a id="truck-driver-telephone"></a>,                            
            Drives: <span id="truck-driver-drives"></span>
        </li>
        <li>
            Was last at: <span id="was-at"></span>,
            Heading to: <span id="heading-to"></span>
        </li>
    </ul>
</div>
<h3>Please select a service station.</h3>
<div id="service-station-list" class="service-station-list">
</div>
