<div id="sms-0" class="unseen sms">
    <div class="sms-column">
        <ul>
            <li>
                Message Text 
            </li>
            <li class="sms-meta-data">
                Someone Someone <a href="tel:+4500000000">
                    (+45) 0000 0000
                    <span></span>
                </a>
            </li>
            <li class="sms-meta-data">
                Received On: 2015-12-02 11:35
            </li>
        </ul>
    </div>
    <div class="sms-column">
        <ul>
            <li>
                Drives: Scania "PC 00 000"
            </li>
            <li>
                Was last at: Copenhagen
            </li>
            <li>
                Heading to: Aalborg
            </li>
        </ul>
    </div>
    <div class="sms-column last">
        <a title="See what is carrying" 
           class="sms-control-link" id="carries-link-1" href="javascript:void(0);">
            <div>
                <img class="img-normal" src="view/img/carries_black_1.png" alt="Carries">
                <img class="img-hover" src="view/img/carries_white_1.png" alt="Carries">
            </div>
        </a>
        <a title="Resolve the issue"
           class="sms-control-link" id="resolve-link-1" href="javascript:void(0);">
            <img class="img-normal" src="view/img/resolve_black_1.png" alt="Resolve">
            <img class="img-hover" src="view/img/resolve_white_1.png" alt="Resolve">
        </a>
    </div>
    <div class="clear"></div>
</div>